﻿<!DOCTYPE html>
<html ng-app="movieApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie Management</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/font-awesome.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-imageupload.min.css"/>
    <link rel="stylesheet" href="~/Content/dropdownCheckboxes.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="movieController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Movie Management", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Movie", "Index", "Movie", new {  }, new { @style = "margin-left:100px;" })</li>
                <li>@Html.ActionLink("Celebrities", "Index", "Actor", new { }, new { @style = "margin-left:100px;" })</li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="serachText" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        @*<button class="btn btn-default"  type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>*@
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container-fluid bg-4 text-center">
            <p>&copy; @DateTime.Now.Year - Movie Management</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Service/Module.js"></script>
    <script src="~/Scripts/Service/AngularController.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/Service/FunctionService.js"></script>
    <script src="~/Scripts/bootstrap-imageupload.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdownCheckboxes.min.js"></script>
    <script src="~/Scripts/angular-focusmanager.js"></script>

    <script>
        $(document).ready(function () {
            var $imageupload = $('.imageupload');
            $imageupload.imageupload({
                allowedFormats: ['jpg', 'jpeg', 'png', 'gif'],
                maxWidth: 250,
                maxHeight: 250,
                maxFileSizeKb: 2048
            });

            $('.cq-dropdown').dropdownCheckboxes();

            $("#Reset").on('click', function () {
                $('.imageupload').imageupload('reset');
                $('input[type=checkbox]').prop('checked', false);
                $('.cq-dropdown').dropdownCheckboxes('eval');
            })

            $("#save").on('click', function () {
                $('.imageupload').imageupload('reset');
                $('input[type=checkbox]').prop('checked', false);
                $('.cq-dropdown').dropdownCheckboxes('eval');
            })
        });
    </script>
</body>
</html>
