﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" ng-controller="movieController">
    <h2>Actors List</h2>
    <button class="btn btn-success" style="float:right; margin-bottom:15px;" data-toggle="modal" focus-element="autofocus" data-target=".bs-example-modal-lg">
        <i class="fa fa-plus" style="padding-right:5px;"></i>Add Actor
    </button>

    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-info" ng-show="bool">
        <strong>{{message}}</strong>
    </div>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th class="col-lg-2">Actor Name</th>
                <th class="col-lg-2">Actor Gender</th>
                <th class="col-lg-3">Actor DOB</th>
                <th class="col-lg-4">Actor Bio</th>
                <th class="col-ld-1">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in Actors | filter:serachText">
                <td>{{a.ActorName}}</td>
                <td>{{a.ActorSex}}</td>
                <td>{{a.ActorDOB | date : "dd-MM-yyyy"}}</td>
                <td>{{a.ActorBio}}</td>
                <td>
                    @*<a><i class="fa fa-pencil" style="margin-right:10px; font-size:large;" ng-click="EditActor(a.ActorId)"></i></a>*@
                    <a><i class="fa fa-trash" style="font-size:large;" ng-click="deleteActorDetail($index,a.ActorId)"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:center;">
        <strong>{{TableRecordMessage}}</strong>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" focus-group focus-group-head="loop" ng-controller="movieController" focus-group-tail="loop" focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Actor</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-controller="movieController" novalidate name="f1" ng-submit="saveActor(actorName,gender,dob,bio)">
                    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-info" ng-show="bool">
                        <strong>{{message}}</strong>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Actor Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="actorName" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="actorName" required autofocus />
                            <span class="error" ng-show="(f1.actorName.$dirty || submitted) && f1.actorName.$error.required">Name is required!</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Gender</label>
                        <div class="col-md-2">
                            Male<input type="radio" name="gender" value="male" ng-model="gender" ng-required="!gender" />
                        </div>
                        <div class="col-md-2">
                            Female<input type="radio" name="gender" value="female" ng-model="gender" ng-required="!gender" />
                        </div>
                        <div class="col-md-2">
                            Others<input type="radio" name="gender" value="others" ng-model="gender" ng-required="!gender" />
                        </div>
                        <span class="error" ng-show="(f1.gender.$dirty || submitted) && f1.gender.$error.required">Gender required!</span>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Date Of Birth</label>
                        <div class="col-sm-6">
                            <input type="date" name="date" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="dob" required autofocus />
                            <span class="error" ng-show="(f1.date.$dirty || submitted) && f1.date.$error.required">Date of Birth is required</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Bio</label>
                        <div class="col-sm-6">
                            <textarea rows="5" name="bio" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="bio" required autofocus></textarea>
                            <span class="error" ng-show="(f1.bio.$dirty || submitted) && f1.bio.$error.required">Enter the bio</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <input type="submit" value="{{submitText}}" class="btn btn-primary">
                    <button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-edit-modal-lg" id="#EditModal" focus-group focus-group-head="loop" ng-controller="movieController" focus-group-tail="loop" focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Actor</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-controller="movieController" novalidate name="f1" ng-submit="saveActor(actorName,gender,dob,bio)">
                    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-info" ng-show="bool">
                        <strong>{{message}}</strong>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Actor Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="actorName" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="Edit.ActorName" required autofocus />
                            <span class="error" ng-show="(f1.actorName.$dirty || submitted) && f1.actorName.$error.required">Name is required!</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Gender</label>
                        <div class="col-md-2">
                            Male<input type="radio" name="gender" value="male" ng-model="Edit.ActorSex" ng-required="!Edit.ActorSex" />
                        </div>
                        <div class="col-md-2">
                            Female<input type="radio" name="gender" value="female" ng-model="Edit.ActorName" ng-required="!Edit.ActorSex" />
                        </div>
                        <div class="col-md-2">
                            Others<input type="radio" name="gender" value="others" ng-model="Edit.ActorSex" ng-required="!Edit.ActorSex" />
                        </div>
                        <span class="error" ng-show="(f1.gender.$dirty || submitted) && f1.gender.$error.required">Gender required!</span>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Date Of Birth</label>
                        <div class="col-sm-6">
                            <input type="date" name="date" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="Edit.ActorDOB" required autofocus />
                            <span class="error" ng-show="(f1.date.$dirty || submitted) && f1.date.$error.required">Date of Birth is required</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Bio</label>
                        <div class="col-sm-6">
                            <textarea rows="5" name="bio" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="Edit.ActorBio" required autofocus></textarea>
                            <span class="error" ng-show="(f1.bio.$dirty || submitted) && f1.bio.$error.required">Enter the bio</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <input type="submit" value="{{submitText}}" class="btn btn-primary">
                    <button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>





