﻿body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.imageupload .file-tab .thumbnail {
    margin-left: 300px;
}

.dropdown-menu {
    position: absolute !important;
    width: 280px !important;
    max-height: 170px !important; /*The important part*/
    overflow-y: auto !important; /*Also...*/
    overflow-x: hidden !important; /*And the end of the important part*/
}
#btndropdown
{
    width : 280px !important;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

img{
    width: 20%;
}

input[type=radio] {
    margin-left:5px;
    margin-top:8px;

}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
    background-color:rgb(255, 244, 244);
}

.error{
    color:red;
}