﻿
@{
    ViewBag.Title = "CreateMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Movie</h2>
&nbsp;
&nbsp;
<form class="form-horizontal" name="f1" novalidate ng-submit="saveMovie(movieName,yearOfRelease,plot,cast)" role="form" ng-controller="movieController">
    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-info" ng-show="bool">
        <strong>{{message}}</strong>
    </div>
    <div class="form-group">
        <label for="movieName" class="col-sm-3 control-label">Movie Name</label>
        <div class="col-sm-6">
            <input type="text" name="movieName" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="movieName" required />
            <span class="error" ng-show="(f1.movieName.$dirty || submitted) && f1.movieName.$error.required">Movie name is required!</span>
        </div>
        <div class="col-sm-3"></div>

    </div>
    <div class="form-group">
        <label for="yearOfRelease" class="col-sm-3 control-label">Year of Release</label>
        <div class="col-sm-6">
            <input type="text" name="yearOfRelease" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="yearOfRelease" required />
            <span class="error" ng-show="(f1.yearOfRelease.$dirty || submitted) && f1.yearOfRelease.$error.required">Year of release is required!</span>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="form-group">
        <label for="plot" class="col-sm-3 control-label">Plot</label>
        <div class="col-sm-6">
            <textarea rows="5" name="plot" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="plot" required></textarea>
            <span class="error" ng-show="(f1.plot.$dirty || submitted) && f1.plot.$error.required">Plot is required!</span>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="form-group">
        <div class="imageupload">
            <div class="file-tab panel-body">
                <label for="poster" class="col-sm-3 control-label">Poster</label>
                <div class="col-sm-6">
                    <label class="btn btn-default btn-file">
                        <span>Browse</span>
                        <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required>
                    </label>
                    <button type="button" class="btn btn-default">Remove</button>
                    <span class="error" ng-show="(f1.file.$dirty || submitted) && f1.file.$error.required">Poster is required!</span>
                    <span class="error">{{FileInvalidMessage}}</span>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <div class='form-group '>
        <label for="Cast" class="col-sm-3 control-label">Cast</label>
        <div class="col-sm-3">
            <div class="dropdown cq-dropdown" data-name='statuses'>
                <button class="btn btn-info btn-sm dropdown-toggle " type="button" id="btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Actors
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btndropdown">
                    <li ng-repeat="a in Actors">
                        <label class="radio-btn">
                            <input type="checkbox" name="cast" ng-model="cast" ng-change="change(a, cast)" value="{{a.ActorId}}" required />
                            {{a.ActorName}}
                        </label>
                    </li>
                    <li class='text-center'>
                        <button type='button' class='btn btn-sm btn-danger clear close-dropdown' value='Clear'>Clear</button>
                        <button type='button' class='btn btn-sm btn-success save' value='Save'>Save</button>
                    </li>
                </ul>
            </div>
            <span class="error" ng-show="(f1.cast.$dirty || submitted) && f1.cast.$error.required">Select Actor</span>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-success" data-toggle="modal" focus-element="autofocus" data-target=".bs-example-modal-lg">
                <i class="fa fa-plus" style="margin-right:10px;"></i>
                Add Actor
            </button>
        </div>
    </div>



    <input type="submit" id="save" value="Save" class="btn btn-primary col-sm-offset-3" />
    <input type="reset" id="Reset" value="Reset" class="btn btn-danger" ng-click="resetForm()" />
</form>


<div class="modal fade bs-example-modal-lg" focus-group focus-group-head="loop" ng-controller="movieController" focus-group-tail="loop" focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Actor</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-controller="movieController" novalidate name="f1" ng-submit="saveActor(actorName,gender,dob,bio)">
                    <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-info" ng-show="bool">
                        <strong>{{message}}</strong>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Actor Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="actorName" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="actorName" required autofocus />
                            <span class="error" ng-show="(f1.actorName.$dirty || submitted) && f1.actorName.$error.required">Name is required!</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Gender</label>
                        <div class="col-md-2">
                            Male<input type="radio" name="gender" value="male" ng-model="gender" ng-required="!gender" />
                        </div>
                        <div class="col-md-2">
                            Female<input type="radio" name="gender" value="female" ng-model="gender" ng-required="!gender" />
                        </div>
                        <div class="col-md-2">
                            Others<input type="radio" name="gender" value="others" ng-model="gender" ng-required="!gender" />
                        </div>
                        <span class="error" ng-show="(f1.gender.$dirty || submitted) && f1.gender.$error.required">Gender required!</span>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Date Of Birth</label>
                        <div class="col-sm-6">
                            <input type="date" name="date" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="dob" required autofocus />
                            <span class="error" ng-show="(f1.date.$dirty || submitted) && f1.date.$error.required">Date of Birth is required</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="movieName" class="col-sm-3 control-label">Bio</label>
                        <div class="col-sm-6">
                            <textarea rows="5" name="bio" ng-class="submitted?'ng-dirty':''" class="form-control" ng-model="bio" required autofocus></textarea>
                            <span class="error" ng-show="(f1.bio.$dirty || submitted) && f1.bio.$error.required">Enter the bio</span>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <input type="submit" value="{{submitText}}" class="btn btn-primary">
                    <button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>