﻿@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" ng-controller="movieController">
    <h2>TOP 10 MOVIES</h2>
    <button class="btn btn-success" style="float:right; margin-bottom:15px;">
        <i class="fa fa-plus" style="padding-right:5px;"></i>@Html.ActionLink("Movie", "CreateMovie", "Movie", new { area = " "}, new { @style = "color:black;" })
    </button>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th class="col-lg-3">Poster</th>
                <th class="col-lg-2">Movie Name</th>
                <th class="col-lg-1">Year Of Release</th>
                <th class="col-lg-3">Plot</th>
                <th class="col-lg-2">Cast</th>
                <th class="col-lg-1">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in movies | filter:serachText">
                <td><img ng-src="~/UploadedImages/{{a.ImagePath}}" /></td>
                <td>{{a.ShowName}}</td>
                <td>{{a.ShowYearOfRelaease}}</td>
                <td>{{a.ShowPlot}}</td>
                <td>{{a.Cast}}</td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", "Movie", new { area = " " }, new { ng_click = "editMovie(a.ShowId)" })*@
                                        <a><i class="fa fa-pencil" style="font-size:large;" ng-click="editMovie(a.ShowId)"></i></a>
                                    </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center;">
                <strong>{{message}}</strong>
            </div>
        </div>

